
@model Compra
@{
    ViewData["Title"] = "Nueva Compra";
    
}
<body style="background-color: #cec0b3;">
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="mb-3">
        <label>Codigo</label>
        <input asp-for="Codigo" class="form-control">
    </div>
    <div class="mb-3">
        <label>Producto</label>
       @*  <input asp-for="Producto" class="form-control"> *@

        <select asp-for="IdProducto" asp-items="Model.SelectList" class="form-control">
            <option value="">-- Select an option --</option>
        </select>

    </div>
    <div class="mb-3">
        <label>Cantidad</label>
        <input asp-for="Cantidad" class="form-control">
    </div>
   
  

    <div class="row col-6">
        <div class="col-6 col-md-6">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <div class="col-6 col-md-6">
            <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>

    
</form>
</body>

<p>Esta es la vista para crear productos</p>