@model IniciarSesion
@{
    ViewData["Title"] = "Iniciar Sesion";

}
<h1>@ViewData["Title"]</h1>
<body style="background-color: #d0d0d0;">


<form method="post">
    <div class="mb-3">
        <label>Correo</label>
        <input asp-for="Correo" class="form-control">
    </div>
    <div class="mb-3">
        <label>Contrasena</label>
        <input asp-for="Contrasena" class="form-control">
    </div>

    <div class="row col-6">
        <div class="col-6 col-md-6">
            <a asp-controller="Producto" asp-action="Index" class="btn btn-outline-secondary">Volver</a>
        </div>
        <div class="col-6 col-md-6">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
    </div>


</form>

    </body>
