@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color: #d0d0d0;">
<div class="text-center">
    <h1 class="display-4">JOYALUX</h1>
    <p>Juan David Ramirez Web apps with ASP.NET Core</a>.</p>

 
</div>
</body>
